node-red-instance/flow.json
[
    {
        "id": "f85f60e92465b507",
        "type": "subflow",
        "name": "SeccionPistas",
        "info": "",
        "category": "Wiki Racer",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ed173a8bf4793247"
                    },
                    {
                        "id": "31e9a9b02c35137d"
                    },
                    {
                        "id": "7dfd3a9d4a5a3fda"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 740,
                "wires": [
                    {
                        "id": "4031d749da9e3cbc",
                        "port": 0
                    },
                    {
                        "id": "550d3d5bbc38329f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 820,
                "y": 760,
                "wires": [
                    {
                        "id": "61f4879fb30386ef",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#FFAAAA",
        "icon": "node-red/debug.svg"
    },
    {
        "id": "e75dbc2f176a6bf8",
        "type": "debug",
        "z": "f85f60e92465b507",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "6d2da27d10bfac88",
        "type": "ui_template",
        "z": "f85f60e92465b507",
        "group": "75561547e129ef16",
        "name": "FINAL INVÁLIDO",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"color:red\" ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "31e9a9b02c35137d",
        "type": "switch",
        "z": "f85f60e92465b507",
        "name": "",
        "property": "wiki.final_invalido",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 360,
        "wires": [
            [
                "25d1283dca053404"
            ],
            [
                "51776df634852b0e"
            ]
        ]
    },
    {
        "id": "25d1283dca053404",
        "type": "change",
        "z": "f85f60e92465b507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FINAL INVÁLIDO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 340,
        "wires": [
            [
                "6d2da27d10bfac88"
            ]
        ]
    },
    {
        "id": "51776df634852b0e",
        "type": "change",
        "z": "f85f60e92465b507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "6d2da27d10bfac88"
            ]
        ]
    },
    {
        "id": "fa4d1a2bf5213051",
        "type": "ui_table",
        "z": "f85f60e92465b507",
        "group": "c733ae8c8f2dfb0a",
        "name": "Pistas",
        "order": 4,
        "width": "12",
        "height": "17",
        "columns": [
            {
                "field": "ocurrences",
                "title": "Veces",
                "width": "50",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "title",
                "title": "Candidato",
                "width": "",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 550,
        "y": 560,
        "wires": [
            [
                "4031d749da9e3cbc"
            ]
        ]
    },
    {
        "id": "ed173a8bf4793247",
        "type": "function",
        "z": "f85f60e92465b507",
        "name": "PISTAS",
        "func": "var camino = msg.wiki.pista_info;\nvar candidatos = msg.wiki.pista_info?.internos || [];\n\nconst payload = candidatos.map(o => { return {\n        description: o.id,\n        title: o.text,\n        ocurrences: o.ocurrencias,\n        id: o.text,\n}});\n\nflow.set(\"LAST_PISTAS_TABLA\", payload);\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 540,
        "wires": [
            [
                "fa4d1a2bf5213051",
                "068f75e610e5f0c0"
            ]
        ]
    },
    {
        "id": "d824e89872ac2da4",
        "type": "function",
        "z": "f85f60e92465b507",
        "name": "FILTRAR",
        "func": "var todos = flow.get(\"LAST_PISTAS_TABLA\");\n\nvar match = msg.payload;\n\nvar payload = match ? \n    todos.filter(\n        t => t.title.toUpperCase().indexOf((match + \"\").toUpperCase()) > -1\n    ) : todos;\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 580,
        "wires": [
            [
                "fa4d1a2bf5213051"
            ]
        ]
    },
    {
        "id": "550d3d5bbc38329f",
        "type": "function",
        "z": "f85f60e92465b507",
        "name": "SET PISTA",
        "func": "msg.wiki = flow.get(\"wiki\", msg.wiki);\n\nmsg.wiki.pista = msg.payload ? msg.wiki.base + msg.payload.pista : null;\n\nif (msg.payload.pista) {\n    return [msg, null];\n} else {\n    msg.wiki.pista = \"\"\n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 640,
        "wires": [
            [
                "61f4879fb30386ef",
                "f21ec419829b0caa"
            ],
            [
                "f21ec419829b0caa"
            ]
        ]
    },
    {
        "id": "9227c46dda3d4cc1",
        "type": "ui_text_input",
        "z": "f85f60e92465b507",
        "name": "",
        "label": "FiltrarPista",
        "tooltip": "",
        "group": "c733ae8c8f2dfb0a",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "d824e89872ac2da4"
            ]
        ]
    },
    {
        "id": "7dfd3a9d4a5a3fda",
        "type": "function",
        "z": "f85f60e92465b507",
        "name": "[",
        "func": "flow.set(\"wiki\", msg.wiki);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 520,
        "wires": [
            [
                "f21ec419829b0caa"
            ]
        ]
    },
    {
        "id": "30f2b08cbf6de8eb",
        "type": "ui_template",
        "z": "f85f60e92465b507",
        "group": "75561547e129ef16",
        "name": "MODO PISTA",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"color:red\" ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1320,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f21ec419829b0caa",
        "type": "switch",
        "z": "f85f60e92465b507",
        "name": "",
        "property": "wiki.pista",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "null"
            },
            {
                "t": "empty"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 970,
        "y": 580,
        "wires": [
            [
                "c126d7eda70ec42e"
            ],
            [
                "8b337bb662ef78bf"
            ],
            [
                "8b337bb662ef78bf"
            ],
            [
                "8b337bb662ef78bf"
            ]
        ]
    },
    {
        "id": "c126d7eda70ec42e",
        "type": "change",
        "z": "f85f60e92465b507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MODO PISTA ACTIVADO (NO ALMACENA CAMINOS)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 560,
        "wires": [
            [
                "30f2b08cbf6de8eb"
            ]
        ]
    },
    {
        "id": "8b337bb662ef78bf",
        "type": "change",
        "z": "f85f60e92465b507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 600,
        "wires": [
            [
                "30f2b08cbf6de8eb"
            ]
        ]
    },
    {
        "id": "683e93c73659add7",
        "type": "ui_form",
        "z": "f85f60e92465b507",
        "name": "Pista",
        "label": "Activar Pista",
        "group": "c733ae8c8f2dfb0a",
        "order": 2,
        "width": "12",
        "height": "9",
        "options": [
            {
                "label": "pista",
                "value": "pista",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "pista": ""
        },
        "payload": "",
        "submit": "Buscar",
        "cancel": "Reiniciar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 550,
        "y": 600,
        "wires": [
            [
                "550d3d5bbc38329f",
                "c0e285c20337245e",
                "61a487da902cef1a"
            ]
        ]
    },
    {
        "id": "4031d749da9e3cbc",
        "type": "function",
        "z": "f85f60e92465b507",
        "name": "SET PISTA",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nmsg.payload = { pista: msg.payload.id.replace(msg.wiki.base, \"\") }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 560,
        "wires": [
            [
                "683e93c73659add7"
            ]
        ]
    },
    {
        "id": "c0e285c20337245e",
        "type": "function",
        "z": "f85f60e92465b507",
        "name": "ECO",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 640,
        "wires": [
            [
                "683e93c73659add7"
            ]
        ]
    },
    {
        "id": "61a487da902cef1a",
        "type": "function",
        "z": "f85f60e92465b507",
        "name": "VACIAR",
        "func": "return {\n    payload: []\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 620,
        "wires": [
            [
                "fa4d1a2bf5213051"
            ]
        ]
    },
    {
        "id": "068f75e610e5f0c0",
        "type": "ui_template",
        "z": "f85f60e92465b507",
        "group": "c733ae8c8f2dfb0a",
        "name": "Info pista",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": " <ul style=\"font-size:90%\">\n    <li>si no está en caché, buscar otra vez para enlaces</li>\n    <li>seleccionar enlace y dar a buscar</li>\n    <li>vacío para desactivar</li>\n<ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "61f4879fb30386ef",
        "type": "function",
        "z": "f85f60e92465b507",
        "name": "vaciar",
        "func": "msg.payload = {};\nmsg.payload.text = \"Cargando\";\nmsg.payload.data = {};\nmsg.payload.data.html = \"Cargando\";\nmsg.payload.data.summary = {};\nmsg.payload.data.summary.extract_html = \"\"\nmsg.wiki.actual_info = msg.payload;\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c733ae8c8f2dfb0a",
        "type": "ui_group",
        "name": "Pista",
        "tab": "e260e9f9eb787f79",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e260e9f9eb787f79",
        "type": "ui_tab",
        "name": "Wiki Racer Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "527edf7c34172356",
        "type": "subflow",
        "name": "Tablero",
        "info": "",
        "category": "Wiki Racer",
        "in": [
            {
                "x": 183.33333333333334,
                "y": 30,
                "wires": [
                    {
                        "id": "f7c632816ecf72cb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 480,
                "wires": [
                    {
                        "id": "44388924ff38df15",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "icon": "node-red/function.svg"
    },
    {
        "id": "44388924ff38df15",
        "type": "game",
        "z": "527edf7c34172356",
        "name": "",
        "world": "56680a31b343cddd",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "b51159b3dc92327c",
                "17bed414dc53fcbc",
                "39ded0f306ecdb1e",
                "f99241e17299c9f7",
                "5ce365068007079b",
                "27ebe0027f9ebd5a",
                "4adf4d3e2d5a90b5",
                "581a0ddae1e8039b"
            ]
        ]
    },
    {
        "id": "9cf3a4fb6f4131e1",
        "type": "inject",
        "z": "527edf7c34172356",
        "name": "Configurar Juego",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"clave\":\"Juego-1\",\"inicio\":\"Hip%C3%B3tesis_Gaia\",\"final\":\"Magia_del_caos\",\"base\":\"https://es.wikipedia.org/wiki/\",\"disco\":\"/Users/morente/Desktop/wiki-racer/CRIPTA\"}",
        "payloadType": "json",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "00dbcbf3d123ca0e",
                "0bd3614c6b671718"
            ]
        ]
    },
    {
        "id": "00dbcbf3d123ca0e",
        "type": "ui_form",
        "z": "527edf7c34172356",
        "name": "Configurar Juego",
        "label": "Partida",
        "group": "75561547e129ef16",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "clave",
                "value": "clave",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "inicio",
                "value": "inicio",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "final",
                "value": "final",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "base",
                "value": "base",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "disco",
                "value": "disco",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "clave": "",
            "inicio": "",
            "final": "",
            "base": "",
            "disco": ""
        },
        "payload": "",
        "submit": "Jugar",
        "cancel": "Reiniciar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "6241aa76af8a8bf2",
                "e68b58225a2d6ab7"
            ]
        ]
    },
    {
        "id": "6241aa76af8a8bf2",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "--",
        "func": "msg.wiki = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 140,
        "wires": [
            [
                "4c27a16fd551ac87"
            ]
        ]
    },
    {
        "id": "e68b58225a2d6ab7",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "Eco",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 80,
        "wires": [
            [
                "00dbcbf3d123ca0e"
            ]
        ]
    },
    {
        "id": "b51159b3dc92327c",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "[",
        "func": "var modelo = msg.wiki.guion || [];\nvar payload = modelo\n        .map((e, i) => {return {e}});\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "da9b827b0f1eda58"
            ]
        ]
    },
    {
        "id": "da9b827b0f1eda58",
        "type": "ui_table",
        "z": "527edf7c34172356",
        "group": "b2dde490c8706fc2",
        "name": "Partida",
        "order": 7,
        "width": "6",
        "height": "13",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 740,
        "y": 540,
        "wires": [
            [
                "bbf15a216096d83d"
            ]
        ]
    },
    {
        "id": "17bed414dc53fcbc",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "[",
        "func": "var modelo = msg.wiki.turno || [];\nvar payload = modelo\n        .map((e, i) => {return {e}});\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 500,
        "wires": [
            [
                "4c4ed26669c188aa"
            ]
        ]
    },
    {
        "id": "4c4ed26669c188aa",
        "type": "ui_table",
        "z": "527edf7c34172356",
        "group": "b2dde490c8706fc2",
        "name": "Turno",
        "order": 6,
        "width": "6",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "39ded0f306ecdb1e",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "Actual",
        "func": "var payload = (msg.wiki.actual_info);\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 280,
        "wires": [
            [
                "f3368f00fe1779a2",
                "f99a94108331dd91"
            ]
        ]
    },
    {
        "id": "f3368f00fe1779a2",
        "type": "ui_template",
        "z": "527edf7c34172356",
        "group": "9dbb6ba740014442",
        "name": "Actual",
        "order": 2,
        "width": "12",
        "height": "4",
        "format": "<h3 ng-bind-html=\"msg.payload.text\"></h3>\n<div ng-bind-html=\"msg.payload.data.summary.extract_html\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1470,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d1427e56c2ac27b6",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "CANDIDATO",
        "func": "msg.wiki = flow.get(\"wiki\");\nmsg.wiki.actual = msg.payload.description;\nmsg.wiki.actual_title = msg.payload.id;\n\n\nmsg.payload = {};\nmsg.payload.text = \"Cargando\";\nmsg.payload.data = {};\nmsg.payload.data.html = \"Cargando\";\nmsg.payload.data.summary = {};\nmsg.payload.data.summary.extract_html = \"\"\nmsg.wiki.actual_info = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "39ded0f306ecdb1e",
                "f4887dd90adef95c",
                "4c27a16fd551ac87"
            ]
        ]
    },
    {
        "id": "6c5359a6fcd7070f",
        "type": "ui_table",
        "z": "527edf7c34172356",
        "group": "9dbb6ba740014442",
        "name": "Candidatos",
        "order": 9,
        "width": "12",
        "height": "35",
        "columns": [
            {
                "field": "ocurrences",
                "title": "Veces",
                "width": "50",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "title",
                "title": "Candidato",
                "width": "",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 950,
        "y": 280,
        "wires": [
            [
                "d1427e56c2ac27b6"
            ]
        ]
    },
    {
        "id": "f99241e17299c9f7",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "CANDIDATOS",
        "func": "var camino = msg.wiki.camino_info;\nvar candidatos = camino?.candidatos?.internos || [];\n\nflow.set(\"wiki\", msg.wiki);\n\nconst payload = candidatos.map(o => { return {\n        description: o.id,\n        title: o.text,\n        ocurrences: o.ocurrencias,\n        id: o.text,\n}});\n\nflow.set(\"LAST_CANDIDATOS_TABLA\", payload);\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [
            [
                "6c5359a6fcd7070f"
            ]
        ]
    },
    {
        "id": "bbf15a216096d83d",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "][",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nconst indice = msg.payload.e.split(\":\")[0].replace(\"- \", \"\");\nmsg.wiki.restaurar = indice;\n\nflow.set(\"wiki\", msg.wiki);\n\nmsg.payload = {\n    restaurar: indice,\n    enlace: msg.payload.e.split(\":\")[1].replace(\"- \", \"\")\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 540,
        "wires": [
            [
                "9d2e514a476ce74f",
                "814a11ad40436c47"
            ]
        ]
    },
    {
        "id": "0b827173c492d4ba",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "]",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nmsg.wiki.restaurar = msg.payload.restaurar;\nmsg.wiki.restaurar_commit = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 540,
        "wires": [
            [
                "814a11ad40436c47"
            ]
        ]
    },
    {
        "id": "ffafaa0f10e9441f",
        "type": "ui_template",
        "z": "527edf7c34172356",
        "group": "aad5a613de267b5b",
        "name": "Detalles",
        "order": 1,
        "width": "12",
        "height": "41",
        "format": "\n\n<div ng-bind-html=\"msg.payload.data.html\" style=\"\"></div>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1520,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "076050ad1bb1ba8f",
        "type": "ui_gauge",
        "z": "527edf7c34172356",
        "name": "",
        "group": "b2dde490c8706fc2",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Camino",
        "label": "enlaces",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "5ce365068007079b",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "[",
        "func": "return {\n    payload: msg.wiki.camino.length\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "076050ad1bb1ba8f"
            ]
        ]
    },
    {
        "id": "f4887dd90adef95c",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "VACIAR",
        "func": "return {\n    payload: []\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "6c5359a6fcd7070f",
                "f7c632816ecf72cb",
                "4c4ed26669c188aa"
            ]
        ]
    },
    {
        "id": "5798c5cbaf297405",
        "type": "ui_button",
        "z": "527edf7c34172356",
        "name": "",
        "group": "75561547e129ef16",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Guardar Juego",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 1060,
        "y": 380,
        "wires": [
            [
                "5692f4ed38a238fc"
            ]
        ]
    },
    {
        "id": "4e18e4e15d17c097",
        "type": "ui_table",
        "z": "527edf7c34172356",
        "group": "75561547e129ef16",
        "name": "Juegos",
        "order": 8,
        "width": "6",
        "height": "14",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "84bef490b97fc756"
            ]
        ]
    },
    {
        "id": "27ebe0027f9ebd5a",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "[",
        "func": "var modelo = msg.wiki.juegos || [];\nvar payload = modelo\n        .map((e, i) => {return {e: e.clave}});\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "4e18e4e15d17c097"
            ]
        ]
    },
    {
        "id": "5692f4ed38a238fc",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "GUARDAR",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nmsg.wiki.guardar = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 380,
        "wires": [
            [
                "aa5345cb6ca0db92"
            ]
        ]
    },
    {
        "id": "84bef490b97fc756",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "]",
        "func": "return {\n    payload: {\n        cargar_juego: msg.payload.e,\n        borrar_juego: msg.payload.e\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 460,
        "wires": [
            [
                "56830690ec2da1b5",
                "6089492416f8194b"
            ]
        ]
    },
    {
        "id": "56830690ec2da1b5",
        "type": "ui_form",
        "z": "527edf7c34172356",
        "name": "Cargar juego",
        "label": "",
        "group": "75561547e129ef16",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Cargar",
                "value": "cargar_juego",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "cargar_juego": ""
        },
        "payload": "",
        "submit": "Carga",
        "cancel": "--",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "b23089cf1bda5275"
            ]
        ]
    },
    {
        "id": "b23089cf1bda5275",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "END",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nmsg.wiki.cargar_juego = msg.payload.cargar_juego;\nmsg.wiki.borrar_juego = msg.payload.borrar_juego;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 460,
        "wires": [
            [
                "aa5345cb6ca0db92"
            ]
        ]
    },
    {
        "id": "6089492416f8194b",
        "type": "ui_form",
        "z": "527edf7c34172356",
        "name": "Borrar juego",
        "label": "",
        "group": "75561547e129ef16",
        "order": 5,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Borrar",
                "value": "borrar_juego",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "borrar_juego": ""
        },
        "payload": "",
        "submit": "Borra",
        "cancel": "--",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "b23089cf1bda5275"
            ]
        ]
    },
    {
        "id": "4adf4d3e2d5a90b5",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "CONFIGURAR",
        "func": "msg.payload = {\n    ...msg.wiki,\n    \"inicio\": msg.wiki.inicio.replace(msg.wiki.base, \"\"),\n    \"final\": msg.wiki.final.replace(msg.wiki.base, \"\"),\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "88b59d6c279fae55"
            ]
        ]
    },
    {
        "id": "4c27a16fd551ac87",
        "type": "link out",
        "z": "527edf7c34172356",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "1461872b331c965e"
        ],
        "x": 955,
        "y": 140,
        "wires": []
    },
    {
        "id": "1461872b331c965e",
        "type": "link in",
        "z": "527edf7c34172356",
        "name": "link in 1",
        "links": [
            "4c27a16fd551ac87",
            "aa5345cb6ca0db92",
            "7199a07d22b0c072",
            "814a11ad40436c47",
            "f00be4d9aea2ea2f"
        ],
        "x": 255,
        "y": 500,
        "wires": [
            [
                "44388924ff38df15"
            ]
        ]
    },
    {
        "id": "aa5345cb6ca0db92",
        "type": "link out",
        "z": "527edf7c34172356",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "1461872b331c965e"
        ],
        "x": 1355,
        "y": 460,
        "wires": []
    },
    {
        "id": "7199a07d22b0c072",
        "type": "link out",
        "z": "527edf7c34172356",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "1461872b331c965e"
        ],
        "x": 415,
        "y": 220,
        "wires": []
    },
    {
        "id": "814a11ad40436c47",
        "type": "link out",
        "z": "527edf7c34172356",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "1461872b331c965e"
        ],
        "x": 1265,
        "y": 600,
        "wires": []
    },
    {
        "id": "5e3bb086f69a5b40",
        "type": "link in",
        "z": "527edf7c34172356",
        "name": "link in 2",
        "links": [
            "88b59d6c279fae55"
        ],
        "x": 515,
        "y": 180,
        "wires": [
            [
                "00dbcbf3d123ca0e"
            ]
        ]
    },
    {
        "id": "88b59d6c279fae55",
        "type": "link out",
        "z": "527edf7c34172356",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "5e3bb086f69a5b40"
        ],
        "x": 775,
        "y": 380,
        "wires": []
    },
    {
        "id": "0bd3614c6b671718",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "--",
        "func": "msg.wiki = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 220,
        "wires": [
            [
                "7199a07d22b0c072"
            ]
        ]
    },
    {
        "id": "87a127443c696d74",
        "type": "function",
        "z": "527edf7c34172356",
        "name": "FILTRAR",
        "func": "var todos = flow.get(\"LAST_CANDIDATOS_TABLA\");\n\nvar match = msg.payload;\n\nvar payload = match ? \n    todos.filter(\n        t => t.title.toUpperCase().indexOf((match + \"\").toUpperCase()) > -1\n    ) : todos;\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 220,
        "wires": [
            [
                "6c5359a6fcd7070f"
            ]
        ]
    },
    {
        "id": "f7c632816ecf72cb",
        "type": "ui_text_input",
        "z": "527edf7c34172356",
        "name": "",
        "label": "Filtrar",
        "tooltip": "",
        "group": "9dbb6ba740014442",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "87a127443c696d74"
            ]
        ]
    },
    {
        "id": "35cd261e5101e37e",
        "type": "ui_template",
        "z": "527edf7c34172356",
        "group": "aad5a613de267b5b",
        "name": "CSS",
        "order": 1,
        "width": "12",
        "height": "17",
        "format": "<style>\na:link {\n  color: #22FF81;\n  background-color: transparent;\n  text-decoration: none;\n}\n\na:visited {\n  color: #43FF4D;\n  background-color: transparent;\n  text-decoration: none;\n}\n\na:hover {\n  color: green;\n  background-color: transparent;\n  text-decoration: underline;\n}\n\na:active {\n  color: #28FF14;\n  background-color: transparent;\n  text-decoration: underline;\n}\n</style>\n\n<div ng-bind-html=\"msg.payload.data.html\" style=\"\"></div>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f00be4d9aea2ea2f",
        "type": "link out",
        "z": "527edf7c34172356",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "1461872b331c965e"
        ],
        "x": 915,
        "y": 900,
        "wires": []
    },
    {
        "id": "581a0ddae1e8039b",
        "type": "link out",
        "z": "527edf7c34172356",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "65214cac288cd0db"
        ],
        "x": 455,
        "y": 360,
        "wires": []
    },
    {
        "id": "65214cac288cd0db",
        "type": "link in",
        "z": "527edf7c34172356",
        "name": "link in 4",
        "links": [
            "581a0ddae1e8039b"
        ],
        "x": 465,
        "y": 740,
        "wires": [
            [
                "643ab156242bcfa5"
            ]
        ]
    },
    {
        "id": "9d2e514a476ce74f",
        "type": "ui_form",
        "z": "527edf7c34172356",
        "name": "Vuelta atrás a...",
        "label": "Vuelta atrás a...",
        "group": "b2dde490c8706fc2",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "enlace",
                "value": "enlace",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "i",
                "value": "restaurar",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "enlace": "",
            "restaurar": ""
        },
        "payload": "",
        "submit": "Restaurar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 980,
        "y": 600,
        "wires": [
            [
                "0b827173c492d4ba"
            ]
        ]
    },
    {
        "id": "643ab156242bcfa5",
        "type": "subflow:f85f60e92465b507",
        "z": "527edf7c34172356",
        "name": "",
        "x": 670,
        "y": 880,
        "wires": [
            [
                "f00be4d9aea2ea2f"
            ],
            [
                "39ded0f306ecdb1e",
                "4c4ed26669c188aa"
            ]
        ]
    },
    {
        "id": "f99a94108331dd91",
        "type": "switch",
        "z": "527edf7c34172356",
        "name": "",
        "property": "payload.data.html",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Cargando",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1370,
        "y": 340,
        "wires": [
            [
                "ffafaa0f10e9441f"
            ]
        ]
    },
    {
        "id": "75561547e129ef16",
        "type": "ui_group",
        "name": "Configuración",
        "tab": "e260e9f9eb787f79",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "b2dde490c8706fc2",
        "type": "ui_group",
        "name": "Partida",
        "tab": "e260e9f9eb787f79",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9dbb6ba740014442",
        "type": "ui_group",
        "name": "Turno actual",
        "tab": "e260e9f9eb787f79",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "aad5a613de267b5b",
        "type": "ui_group",
        "name": "Detalles",
        "tab": "e260e9f9eb787f79",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    }
]