node-red-contrib-wikir-racer/flow.json
[
    {
        "id": "eaf05303a4bedcb4",
        "type": "tab",
        "label": "WikiRacer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4028dc7e6195d21",
        "type": "game",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "world": "56680a31b343cddd",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "68119736ca84e536",
                "04586cd07d640c76",
                "786c1bd762091f92",
                "2286610c48c45df6",
                "b76910ad1c1bb651",
                "3e47fcd26c67f505",
                "6faeddd8239cc8a1",
                "bc46b5a1e01cb52d",
                "9702f3bfba80e7fc"
            ]
        ]
    },
    {
        "id": "b62bb1afb35b0ddb",
        "type": "inject",
        "z": "eaf05303a4bedcb4",
        "name": "Configurar Juego",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"clave\":\"Juego-1\",\"inicio\":\"Esquema_Nacional_de_Seguridad\",\"final\":\"Isaac_Asimov\",\"base\":\"https://es.wikipedia.org/wiki/\",\"disco\":\"/Users/morente/Desktop/wiki-racer/CRIPTA\"}",
        "payloadType": "json",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "1a074cf00fc302ce",
                "b9117df94767d2f4"
            ]
        ]
    },
    {
        "id": "1a074cf00fc302ce",
        "type": "ui_form",
        "z": "eaf05303a4bedcb4",
        "name": "Configurar Juego",
        "label": "Partida",
        "group": "75561547e129ef16",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "clave",
                "value": "clave",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "inicio",
                "value": "inicio",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "final",
                "value": "final",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "base",
                "value": "base",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "disco",
                "value": "disco",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "clave": "",
            "inicio": "",
            "final": "",
            "base": "",
            "disco": ""
        },
        "payload": "",
        "submit": "Jugar",
        "cancel": "Reiniciar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "1a7385a429d156bf",
                "9bb6f13900f94446"
            ]
        ]
    },
    {
        "id": "1a7385a429d156bf",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "--",
        "func": "msg.wiki = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 120,
        "wires": [
            [
                "90a74391c46f2ce7"
            ]
        ]
    },
    {
        "id": "9bb6f13900f94446",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "Eco",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 60,
        "wires": [
            [
                "1a074cf00fc302ce"
            ]
        ]
    },
    {
        "id": "68119736ca84e536",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "[",
        "func": "var modelo = msg.wiki.guion || [];\nvar payload = modelo\n        .map((e, i) => {return {e}});\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [
            [
                "71745e3a89bea199"
            ]
        ]
    },
    {
        "id": "71745e3a89bea199",
        "type": "ui_table",
        "z": "eaf05303a4bedcb4",
        "group": "b2dde490c8706fc2",
        "name": "Partida",
        "order": 7,
        "width": "6",
        "height": "13",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 600,
        "y": 520,
        "wires": [
            [
                "87e91bc4a54808d5"
            ]
        ]
    },
    {
        "id": "04586cd07d640c76",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "[",
        "func": "var modelo = msg.wiki.turno || [];\nvar payload = modelo\n        .map((e, i) => {return {e}});\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 480,
        "wires": [
            [
                "ae516397de591b2c"
            ]
        ]
    },
    {
        "id": "ae516397de591b2c",
        "type": "ui_table",
        "z": "eaf05303a4bedcb4",
        "group": "b2dde490c8706fc2",
        "name": "Turno",
        "order": 6,
        "width": "6",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "786c1bd762091f92",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "Actual",
        "func": "var payload = (msg.wiki.actual_info);\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 260,
        "wires": [
            [
                "ee5987e72dbb575a",
                "ae1150a29281682b"
            ]
        ]
    },
    {
        "id": "ee5987e72dbb575a",
        "type": "ui_template",
        "z": "eaf05303a4bedcb4",
        "group": "9dbb6ba740014442",
        "name": "Actual",
        "order": 1,
        "width": "12",
        "height": "8",
        "format": "<h3 ng-bind-html=\"msg.payload.text\"></h3>\n<div ng-bind-html=\"msg.payload.data.summary.extract_html\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1330,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "53bb91c5f7339ade",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "CANDIDATO",
        "func": "msg.wiki = flow.get(\"wiki\");\nmsg.wiki.actual = msg.payload.description;\nmsg.wiki.actual_title = msg.payload.id;\n\n\nmsg.payload = {};\nmsg.payload.text = \"Cargando\";\nmsg.payload.data = {};\nmsg.payload.data.html = \"Cargando\";\nmsg.payload.data.summary = {};\nmsg.payload.data.summary.extract_html = \"\"\nmsg.wiki.actual_info = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 260,
        "wires": [
            [
                "786c1bd762091f92",
                "1a15487bb275f39b",
                "90a74391c46f2ce7"
            ]
        ]
    },
    {
        "id": "13ead93121f53caa",
        "type": "ui_table",
        "z": "eaf05303a4bedcb4",
        "group": "9dbb6ba740014442",
        "name": "Candidatos",
        "order": 3,
        "width": "12",
        "height": "35",
        "columns": [
            {
                "field": "ocurrences",
                "title": "Veces",
                "width": "50",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "title",
                "title": "Candidato",
                "width": "",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "53bb91c5f7339ade"
            ]
        ]
    },
    {
        "id": "2286610c48c45df6",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "CANDIDATOS",
        "func": "var camino = msg.wiki.camino_info;\nvar candidatos = camino?.candidatos?.internos || [];\n\nflow.set(\"wiki\", msg.wiki);\n\nconst payload = candidatos.map(o => { return {\n        description: o.id,\n        title: o.text,\n        ocurrences: o.ocurrencias,\n        id: o.text,\n}});\n\nflow.set(\"LAST_CANDIDATOS_TABLA\", payload);\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            [
                "13ead93121f53caa"
            ]
        ]
    },
    {
        "id": "87e91bc4a54808d5",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "][",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nconst indice = msg.payload.e.split(\":\")[0].replace(\"- \", \"\");\nmsg.wiki.restaurar = indice;\n\nflow.set(\"wiki\", msg.wiki);\n\nmsg.payload = {\n    restaurar: indice,\n    enlace: msg.payload.e.split(\":\")[1].replace(\"- \", \"\")\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 520,
        "wires": [
            [
                "64798d77edfb0cde"
            ]
        ]
    },
    {
        "id": "6d6d90c9713c0cee",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "]",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nmsg.wiki.restaurar = msg.payload.restaurar;\nmsg.wiki.restaurar_commit = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "64798d77edfb0cde"
            ]
        ]
    },
    {
        "id": "ae1150a29281682b",
        "type": "ui_template",
        "z": "eaf05303a4bedcb4",
        "group": "aad5a613de267b5b",
        "name": "Detalles",
        "order": 1,
        "width": "12",
        "height": "41",
        "format": "\n\n<div ng-bind-html=\"msg.payload.data.html\" style=\"\"></div>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8b5878b77960d697",
        "type": "ui_gauge",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "group": "b2dde490c8706fc2",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Camino",
        "label": "enlaces",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "b76910ad1c1bb651",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "[",
        "func": "return {\n    payload: msg.wiki.camino.length\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "8b5878b77960d697"
            ]
        ]
    },
    {
        "id": "1a15487bb275f39b",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "VACIAR",
        "func": "return {\n    payload: []\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "13ead93121f53caa",
                "c9a6e09ba18ef04b",
                "ae516397de591b2c"
            ]
        ]
    },
    {
        "id": "4bc2f060f96d2bbd",
        "type": "ui_button",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "group": "75561547e129ef16",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Guardar Juego",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 920,
        "y": 360,
        "wires": [
            [
                "36335ab80dd67751"
            ]
        ]
    },
    {
        "id": "8a540e157bb3bf71",
        "type": "ui_table",
        "z": "eaf05303a4bedcb4",
        "group": "75561547e129ef16",
        "name": "Juegos",
        "order": 8,
        "width": "6",
        "height": "14",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "9f091ca5bbf1a5bd"
            ]
        ]
    },
    {
        "id": "3e47fcd26c67f505",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "[",
        "func": "var modelo = msg.wiki.juegos || [];\nvar payload = modelo\n        .map((e, i) => {return {e: e.clave}});\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "8a540e157bb3bf71"
            ]
        ]
    },
    {
        "id": "36335ab80dd67751",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "GUARDAR",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nmsg.wiki.guardar = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "b052ea7f3b135204"
            ]
        ]
    },
    {
        "id": "9f091ca5bbf1a5bd",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "]",
        "func": "return {\n    payload: {\n        cargar_juego: msg.payload.e,\n        borrar_juego: msg.payload.e\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 440,
        "wires": [
            [
                "1804640cf0714cda",
                "b880f82df6324365"
            ]
        ]
    },
    {
        "id": "1804640cf0714cda",
        "type": "ui_form",
        "z": "eaf05303a4bedcb4",
        "name": "Cargar juego",
        "label": "",
        "group": "75561547e129ef16",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Cargar",
                "value": "cargar_juego",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "cargar_juego": ""
        },
        "payload": "",
        "submit": "Carga",
        "cancel": "--",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 910,
        "y": 420,
        "wires": [
            [
                "cf2a630459404795"
            ]
        ]
    },
    {
        "id": "cf2a630459404795",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "END",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nmsg.wiki.cargar_juego = msg.payload.cargar_juego;\nmsg.wiki.borrar_juego = msg.payload.borrar_juego;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 440,
        "wires": [
            [
                "b052ea7f3b135204"
            ]
        ]
    },
    {
        "id": "b880f82df6324365",
        "type": "ui_form",
        "z": "eaf05303a4bedcb4",
        "name": "Borrar juego",
        "label": "",
        "group": "75561547e129ef16",
        "order": 5,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Borrar",
                "value": "borrar_juego",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "borrar_juego": ""
        },
        "payload": "",
        "submit": "Borra",
        "cancel": "--",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 910,
        "y": 460,
        "wires": [
            [
                "cf2a630459404795"
            ]
        ]
    },
    {
        "id": "6faeddd8239cc8a1",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "CONFIGURAR",
        "func": "msg.payload = {\n    ...msg.wiki,\n    \"inicio\": msg.wiki.inicio.replace(msg.wiki.base, \"\"),\n    \"final\": msg.wiki.final.replace(msg.wiki.base, \"\"),\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "15e04fa04a8d5079"
            ]
        ]
    },
    {
        "id": "90a74391c46f2ce7",
        "type": "link out",
        "z": "eaf05303a4bedcb4",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "72aa6e95d0f2bf37",
            "508c82474e033f50",
            "b14576e42c0cc553"
        ],
        "x": 815,
        "y": 120,
        "wires": []
    },
    {
        "id": "72aa6e95d0f2bf37",
        "type": "link in",
        "z": "eaf05303a4bedcb4",
        "name": "link in 1",
        "links": [
            "90a74391c46f2ce7",
            "b052ea7f3b135204",
            "1134c2739ecaf947",
            "64798d77edfb0cde",
            "a8f0a127f4a0600b",
            "fd39a85e05f66aec"
        ],
        "x": 115,
        "y": 480,
        "wires": [
            [
                "f4028dc7e6195d21",
                "02df6c11272019fe"
            ]
        ]
    },
    {
        "id": "b052ea7f3b135204",
        "type": "link out",
        "z": "eaf05303a4bedcb4",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "72aa6e95d0f2bf37",
            "508c82474e033f50",
            "b14576e42c0cc553"
        ],
        "x": 1215,
        "y": 440,
        "wires": []
    },
    {
        "id": "1134c2739ecaf947",
        "type": "link out",
        "z": "eaf05303a4bedcb4",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "72aa6e95d0f2bf37",
            "508c82474e033f50",
            "b14576e42c0cc553"
        ],
        "x": 275,
        "y": 200,
        "wires": []
    },
    {
        "id": "64798d77edfb0cde",
        "type": "link out",
        "z": "eaf05303a4bedcb4",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "72aa6e95d0f2bf37",
            "508c82474e033f50",
            "b14576e42c0cc553"
        ],
        "x": 1125,
        "y": 520,
        "wires": []
    },
    {
        "id": "21e5719249bbc3e9",
        "type": "link in",
        "z": "eaf05303a4bedcb4",
        "name": "link in 2",
        "links": [
            "15e04fa04a8d5079"
        ],
        "x": 375,
        "y": 160,
        "wires": [
            [
                "1a074cf00fc302ce"
            ]
        ]
    },
    {
        "id": "15e04fa04a8d5079",
        "type": "link out",
        "z": "eaf05303a4bedcb4",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "21e5719249bbc3e9"
        ],
        "x": 605,
        "y": 360,
        "wires": []
    },
    {
        "id": "02df6c11272019fe",
        "type": "debug",
        "z": "eaf05303a4bedcb4",
        "name": "TO_WIKI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "wiki",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 540,
        "wires": []
    },
    {
        "id": "b9117df94767d2f4",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "--",
        "func": "msg.wiki = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 200,
        "wires": [
            [
                "1134c2739ecaf947"
            ]
        ]
    },
    {
        "id": "63311567f131ead1",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "FILTRAR",
        "func": "var todos = flow.get(\"LAST_CANDIDATOS_TABLA\");\n\nvar match = msg.payload;\n\nvar payload = match ? \n    todos.filter(\n        t => t.title.toUpperCase().indexOf(match.toUpperCase()) > -1\n    ) : todos;\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "13ead93121f53caa"
            ]
        ]
    },
    {
        "id": "c9a6e09ba18ef04b",
        "type": "ui_text_input",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "label": "Filtrar",
        "tooltip": "",
        "group": "9dbb6ba740014442",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "63311567f131ead1"
            ]
        ]
    },
    {
        "id": "588f8791269fc069",
        "type": "ui_template",
        "z": "eaf05303a4bedcb4",
        "group": "aad5a613de267b5b",
        "name": "CSS",
        "order": 1,
        "width": "12",
        "height": "17",
        "format": "<style>\na:link {\n  color: #22FF81;\n  background-color: transparent;\n  text-decoration: none;\n}\n\na:visited {\n  color: #43FF4D;\n  background-color: transparent;\n  text-decoration: none;\n}\n\na:hover {\n  color: green;\n  background-color: transparent;\n  text-decoration: underline;\n}\n\na:active {\n  color: #28FF14;\n  background-color: transparent;\n  text-decoration: underline;\n}\n</style>\n\n<div ng-bind-html=\"msg.payload.data.html\" style=\"\"></div>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "da29bf36664f3866",
        "type": "ui_template",
        "z": "eaf05303a4bedcb4",
        "group": "75561547e129ef16",
        "name": "FINAL INVÁLIDO",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"color:red\" ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 890,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "40ae8a79bf67ccc3",
        "type": "switch",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "property": "wiki.final_invalido",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 660,
        "wires": [
            [
                "7d742d67f69d6fde"
            ],
            [
                "5f880d97f32e83d0"
            ]
        ]
    },
    {
        "id": "7d742d67f69d6fde",
        "type": "change",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "FINAL INVÁLIDO",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 640,
        "wires": [
            [
                "da29bf36664f3866"
            ]
        ]
    },
    {
        "id": "5f880d97f32e83d0",
        "type": "change",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 680,
        "wires": [
            [
                "da29bf36664f3866"
            ]
        ]
    },
    {
        "id": "27e43f3b0be766a5",
        "type": "ui_table",
        "z": "eaf05303a4bedcb4",
        "group": "c733ae8c8f2dfb0a",
        "name": "Pistas",
        "order": 4,
        "width": "12",
        "height": "17",
        "columns": [
            {
                "field": "ocurrences",
                "title": "Veces",
                "width": "50",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "title",
                "title": "Candidato",
                "width": "",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 410,
        "y": 960,
        "wires": [
            [
                "4adbd3530ee9e1a6"
            ]
        ]
    },
    {
        "id": "7efec48a6d708e14",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "PISTAS",
        "func": "var camino = msg.wiki.pista_info;\nvar candidatos = msg.wiki.pista_info?.internos || [];\n\nconst payload = candidatos.map(o => { return {\n        description: o.id,\n        title: o.text,\n        ocurrences: o.ocurrencias,\n        id: o.text,\n}});\n\nflow.set(\"LAST_PISTAS_TABLA\", payload);\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 940,
        "wires": [
            [
                "27e43f3b0be766a5",
                "5f18ee33ce00c3c4"
            ]
        ]
    },
    {
        "id": "64f9d7cf9ca7be0c",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "FILTRAR",
        "func": "var todos = flow.get(\"LAST_PISTAS_TABLA\");\n\nvar match = msg.payload;\n\nvar payload = match ? \n    todos.filter(\n        t => t.title.toUpperCase().indexOf(match.toUpperCase()) > -1\n    ) : todos;\n\nreturn {\n    payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 980,
        "wires": [
            [
                "27e43f3b0be766a5"
            ]
        ]
    },
    {
        "id": "9d814014b1481520",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "SET PISTA",
        "func": "msg.wiki = flow.get(\"wiki\", msg.wiki);\n\nmsg.wiki.pista = msg.payload ? msg.wiki.base + msg.payload.pista : null;\n\nif (msg.payload.pista) {\n    return [msg, null];\n} else {\n    msg.wiki.pista = \"\"\n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1040,
        "wires": [
            [
                "fd39a85e05f66aec",
                "52ae5d543ca77431"
            ],
            [
                "1d91e140b509f182"
            ]
        ]
    },
    {
        "id": "6f6ec129885e077f",
        "type": "ui_text_input",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "label": "FiltrarPista",
        "tooltip": "",
        "group": "c733ae8c8f2dfb0a",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 70,
        "y": 980,
        "wires": [
            [
                "64f9d7cf9ca7be0c"
            ]
        ]
    },
    {
        "id": "fd39a85e05f66aec",
        "type": "link out",
        "z": "eaf05303a4bedcb4",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "72aa6e95d0f2bf37",
            "508c82474e033f50",
            "b14576e42c0cc553"
        ],
        "x": 635,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1fab692a8459a782",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "[",
        "func": "flow.set(\"wiki\", msg.wiki);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 920,
        "wires": [
            [
                "1d91e140b509f182"
            ]
        ]
    },
    {
        "id": "b7cf6eabf8559f77",
        "type": "ui_template",
        "z": "eaf05303a4bedcb4",
        "group": "75561547e129ef16",
        "name": "MODO PISTA",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"color:red\" ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "1d91e140b509f182",
        "type": "switch",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "property": "wiki.pista",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "null"
            },
            {
                "t": "empty"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 830,
        "y": 980,
        "wires": [
            [
                "38a98bb26638c7b7"
            ],
            [
                "d2760f1aac037c0d"
            ],
            [
                "d2760f1aac037c0d"
            ],
            [
                "d2760f1aac037c0d"
            ]
        ]
    },
    {
        "id": "38a98bb26638c7b7",
        "type": "change",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MODO PISTA ACTIVADO (NO ALMACENA CAMINOS)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 960,
        "wires": [
            [
                "b7cf6eabf8559f77"
            ]
        ]
    },
    {
        "id": "d2760f1aac037c0d",
        "type": "change",
        "z": "eaf05303a4bedcb4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1000,
        "wires": [
            [
                "b7cf6eabf8559f77"
            ]
        ]
    },
    {
        "id": "afa210afe19a3cef",
        "type": "ui_form",
        "z": "eaf05303a4bedcb4",
        "name": "Pista",
        "label": "Activar Pista",
        "group": "c733ae8c8f2dfb0a",
        "order": 2,
        "width": "12",
        "height": "9",
        "options": [
            {
                "label": "pista",
                "value": "pista",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "pista": ""
        },
        "payload": "",
        "submit": "Buscar",
        "cancel": "Reiniciar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "9d814014b1481520",
                "6b2de6de7944ceb6",
                "2d5f167a0980afa1"
            ]
        ]
    },
    {
        "id": "4adbd3530ee9e1a6",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "SET PISTA",
        "func": "msg.wiki = flow.get(\"wiki\");\n\nmsg.payload = { pista: msg.payload.id.replace(msg.wiki.base, \"\") }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 960,
        "wires": [
            [
                "afa210afe19a3cef"
            ]
        ]
    },
    {
        "id": "6b2de6de7944ceb6",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "ECO",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "afa210afe19a3cef"
            ]
        ]
    },
    {
        "id": "2d5f167a0980afa1",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "VACIAR",
        "func": "return {\n    payload: []\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1020,
        "wires": [
            [
                "27e43f3b0be766a5"
            ]
        ]
    },
    {
        "id": "5f18ee33ce00c3c4",
        "type": "ui_template",
        "z": "eaf05303a4bedcb4",
        "group": "c733ae8c8f2dfb0a",
        "name": "Info pista",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": " <ul style=\"font-size:90%\">\n    <li>si no está en caché, buscar otra vez para enlaces</li>\n    <li>seleccionar enlace y dar a buscar</li>\n    <li>vacío para desactivar</li>\n<ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "bc46b5a1e01cb52d",
        "type": "link out",
        "z": "eaf05303a4bedcb4",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "c5e942643f579c7f"
        ],
        "x": 45,
        "y": 800,
        "wires": []
    },
    {
        "id": "c5e942643f579c7f",
        "type": "link in",
        "z": "eaf05303a4bedcb4",
        "name": "link in 4",
        "links": [
            "bc46b5a1e01cb52d"
        ],
        "x": 325,
        "y": 720,
        "wires": [
            [
                "7efec48a6d708e14",
                "1fab692a8459a782",
                "40ae8a79bf67ccc3"
            ]
        ]
    },
    {
        "id": "9702f3bfba80e7fc",
        "type": "debug",
        "z": "eaf05303a4bedcb4",
        "name": "FROM_WIKI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "wiki",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "2042d8d852eca303",
        "type": "debug",
        "z": "eaf05303a4bedcb4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "52ae5d543ca77431",
        "type": "function",
        "z": "eaf05303a4bedcb4",
        "name": "vaciar",
        "func": "msg.payload = {};\nmsg.payload.text = \"Cargando\";\nmsg.payload.data = {};\nmsg.payload.data.html = \"Cargando\";\nmsg.payload.data.summary = {};\nmsg.payload.data.summary.extract_html = \"\"\nmsg.wiki.actual_info = msg.payload;\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 800,
        "wires": [
            [
                "786c1bd762091f92",
                "ae516397de591b2c"
            ]
        ]
    },
    {
        "id": "75561547e129ef16",
        "type": "ui_group",
        "name": "Configuración",
        "tab": "e260e9f9eb787f79",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "b2dde490c8706fc2",
        "type": "ui_group",
        "name": "Partida",
        "tab": "e260e9f9eb787f79",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9dbb6ba740014442",
        "type": "ui_group",
        "name": "Turno actual",
        "tab": "e260e9f9eb787f79",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "aad5a613de267b5b",
        "type": "ui_group",
        "name": "Detalles",
        "tab": "e260e9f9eb787f79",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c733ae8c8f2dfb0a",
        "type": "ui_group",
        "name": "Pista",
        "tab": "e260e9f9eb787f79",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e260e9f9eb787f79",
        "type": "ui_tab",
        "name": "Wiki Racer Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]